<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>AutoFarm</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>ManagementSrvlt</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>ManagementSrvlt</servlet-name>
		<servlet-class>com.pcf8591.raspberry.ManagementSrvlt</servlet-class>
		<load-on-startup>1</load-on-startup>
		<enabled>true</enabled>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagementSrvlt</servlet-name>
		<url-pattern>/Manager</url-pattern>
	</servlet-mapping>
</web-app>